/* 
 * =============================================================================
 * Credits: Sakura.css https://github.com/oxalorg/sakura/
 * =============================================================================
 */

/* Body */

html {
  font-size: $font-size-root;
  font-family: $font-family-base;
}

body {
  font-size: $font-size-base;
  line-height: $line-height;
  width: $body-w;
  margin: auto;
  color: $color-fg;
  background-color: $color-bg;
}

@for $i from 1 through 6 {
  h#{$i} {
    line-height: ($line-height / 1.46);
    font-family: $font-family-heading;
    font-weight: 800;
    margin: 2rem 0em 1.2rem 0em;
    @include word-wrap;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: (2.5em - $heading-interval * $i);
  }
}

p {
  margin: 0px;
  padding: $par-pad;
}

small,
sub,
sup {
  font-size: 75%;
}

hr {
  border-color: $color-border;
}

a {
  text-decoration: none;
  color: $color-anchor;

  &:hover {
    color: $color-fade;
    border-bottom: $szx2 solid $color-fg;
  }
  &.note:before,
  &.supnote:before {
    content: "[";
  }
  &.note:after,
  &.supnote:after {
    content: "]";
  }
  &.note {
    border-bottom: none;
  }
  &.supnote {
    font-size: 0.86rem;
    vertical-align: super;
    border-bottom: none;
  }
}

ul,
ol {
  padding-left: 0px;
  list-style-position: inside;
  margin: $def-full-pad;
  li {
  }
}

dl {
  margin: $def-full-pad;
  dt {
    font-weight: 700;
  }
  dd {
    margin-left: 1em;
  }
}

blockquote {
  font-style: italic;
  margin: $def-pad 1em $def-pad 1em;
  padding-left: 0.4em;
  border-left: $szx3 solid $color-border;
}

img,
object,
embed {
  height: auto;
  max-width: 100%;
  margin: 0em;
  display: inline-block;
}

/* Pre and Code */

pre,
code {
  font-size: 0.9em;
  display: block;
  font-family: $font-family-mono;
  font-stretch: expanded;
  white-space: pre-line;
  background-color: $color-bg-pre;
  color: $color-fg-pre;
  margin: 0em;
  padding: 0.4em;
}

pre {
  overflow-x: auto;
  code {
    padding: 0px;
    font-size: 1em;
    background-color: transparent;
  }
}

pre[class*="linenumbers"] {
  &:before {
    counter-reset: listing;
  }
  .line,
  code {
    counter-increment: listing;
    padding: 0em;
    display: inline-block;
    &:before {
      content: counter(listing) ": ";
      display: inline-block;
      width: 2em;
      padding-left: auto;
      margin-left: auto;
      margin-right: $def-pad;
      text-align: right;
    }
  }
}

*[class*="language-"] {
  font-size: 0.8em;
  pre {
    margin: 0em;
    padding: 0.4em;
    white-space: pre-line;
  }
}

/* Tables */

table {
  text-align: justify;
  width: calc(100% - #{$def-pad * 2});
  border-collapse: collapse;
  margin: $def-full-pad;
  td,
  th {
    padding: $def-pad;
    border-bottom: $szx1 solid lighten($color-border, 20%);
  }
  th {
    background-color: $color-bg-header;
    color: $color-fg-header;
  }
  td {
    background-color: $color-bg-cell;
    color: $color-fg-cell;
  }
}

/* Buttons, forms and input */

textarea,
select,
input[type],
input {
  color: $color-fg-alt;
  background-color: $color-bg-alt;
  padding: $szx6;
  margin-bottom: $szx10;
  border: $szx1 solid $color-border-alt;
  border-radius: $szx2;
  box-shadow: none;
  box-sizing: border-box;

  &:focus {
    border: $szx1 solid $color-button;
    outline: 0;
  }
}

textarea {
  width: 100%;
  resize: none;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: $szx6 $szx10;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: $color-button;
  color: $color-bg;
  border-radius: $szx1;
  border: $szx1 solid $color-button;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: $szx2;

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }

  &:focus,
  &:hover {
    background-color: $color-fade;
    border-color: $color-fade;
    color: $color-bg;
    outline: 0;
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: 1em;
  height: 1em;
  //background-color: $color-button;
  //color: $color-bg;
  &:focus {
    outline: $szx1 dotted $color-button;
  }
}

label,
legend,
fieldset {
  display: block;
  margin-bottom: -0.2em;
  font-weight: 700;
}

legend {
  color: mix($color-border, $deep-dark-color, 60%);
  padding: 0em $def-pad 0em $def-pad;
}

fieldset {
  border: $szx1 solid $color-border;
}

form {
  margin: $def-full-pad;
  span {
    display: inline-block;
    padding: 0em;
    textarea {
      margin-bottom: -2.25em;
      resize: none;
    }
  }
}
