$primary-mix-color: #ffffff;
$primary-base-color: rgb(220, 220, 220);
$deep-dark-color: rgb(21, 21, 21);

$palette_50: mix($primary-base-color, $primary-mix-color, 12%);
$palette_100: mix($primary-base-color, $primary-mix-color, 30%);
$palette_200: mix($primary-base-color, $primary-mix-color, 50%);
$palette_300: mix($primary-base-color, $primary-mix-color, 70%);
$palette_400: mix($primary-base-color, $primary-mix-color, 84%);

$palette_500: $primary-base-color;

$palette_600: mix($primary-base-color, $deep-dark-color, 87%);
$palette_700: mix($primary-base-color, $deep-dark-color, 70%);
$palette_750: mix($primary-base-color, $deep-dark-color, 50%);
$palette_800: mix($primary-base-color, $deep-dark-color, 32%);
$palette_850: mix($primary-base-color, $deep-dark-color, 12%);

$palette_900: $deep-dark-color;

$color-button: #2c8898;
$color-anchor: #2c8898;
$color-fade: #982c61;

$color-bg: $primary-mix-color;
$color-fg: $palette_850;

$color-bg-alt: $palette_100;
$color-fg-alt: $palette_850;

$color-border: mix($palette_500, $deep-dark-color, 60%);
$color-border-alt: mix($color-border, $primary-mix-color, 50%);

$color-bg-pre: $palette_750;
$color-fg-pre: $palette_50;

$color-bg-header: $palette_750;
$color-fg-header: $palette_50;

$color-bg-cell: $color-bg-alt;
$color-fg-cell: $color-fg-alt;

$color-bg-menu: $color-bg-alt;
$color-fg-menu: $color-fg-alt;
$color-menu-border: $color-border-alt;

$color-menu-shadow: $palette_900;

$colors: (
  "primary-mix": $primary-mix-color,
  "primary-base": $primary-base-color,
  "deep-dark": $deep-dark-color,
  "p50": $palette_50,
  "p100": $palette_100,
  "p200": $palette_200,
  "p300": $palette_300,
  "p400": $palette_400,
  "p500": $palette_500,
  "p600": $palette_600,
  "p700": $palette_700,
  "p750": $palette_750,
  "p800": $palette_800,
  "p850": $palette_850,
  "p900": $palette_900,
  "button": $color-button,
  "anchor": $color-anchor,
  "bg": $color-bg,
  "bg-alt": $color-bg-alt,
  "border": $color-border,
  "bg-pre": $color-bg-pre,
  "fg-pre": $color-fg-pre,
  "bg-header": $color-bg-header,
  "fg-header": $color-fg-header,
  "bg-cell": $color-bg-cell,
  "fg-cell": $color-fg-cell,
  "fg": $color-fg,
  "fg-alt": $color-fg-alt,
);

@each $name, $c in $colors {
  .fg-#{$name} {
    color: $c !important;
  }
}

@each $name, $c in $colors {
  .bg-#{$name} {
    background-color: $c !important;
  }
}
