//==============================================================================
$debug-boxes: true;
$debug-box-color-border-1: red;
$debug-box-color-border-2: purple;
$debug-box-color-border-3: green;
$debug-box-color-border-4: blue;
//==============================================================================

$menu-shadow: true;
$menu-shadow-deep: 0.4em;

$font-family-base: Lato, $font-family-sansserif;
$font-family-heading: $font-family-sansserif;

$font-size-root: 16px; //62.5%;
$font-size-base: 16px; //1.6rem;
$line-height: 1.62;

$body-w: 75vw;

$def-pad: 0.4em;
$par-pad: 0.6em;
$def-full-pad: $def-pad;

$heading-interval: 0.25em;

$szx1: 0.0625rem;
$szx2: $szx1 * 2;
$szx3: $szx1 * 3;
$szx4: $szx1 * 4;
$szx5: $szx1 * 5;
$szx6: $szx1 * 6;
$szx7: $szx1 * 7;
$szx8: $szx1 * 8;
$szx9: $szx1 * 9;
$szx10: $szx1 * 10;

$loop-size-max-limit: 60;
$loop-size-max-limit-percent: 60;
$loop-pad-max-limit: 6;
$loop-bsize-max-limit: 13;
