@for $i from 1 through $loop-bsize-max-limit {
  .bsz-#{$i} {
    @include set-abs-width(if($i == 1, 100, 100 - ($i * 5)), "%");
  }
}

@for $i from 1 through $loop-size-max-limit {
  .sz-w#{$i}em {
    @include set-abs-width($i, "em");
  }
  .sz-w#{$i}rem {
    @include set-abs-width($i, "rem");
  }
}

@for $i from 1 through $loop-size-max-limit-percent {
  $val: $i * 5;
  .sz-w#{$val}p {
    @include set-abs-width($val, "%");
  }
}

.sz-w-full {
  @include set-abs-width(100, "%");
}

@for $i from 1 through $loop-size-max-limit {
  .sz-h#{$i}em {
    @include set-abs-height($i, "em");
  }
  .sz-h#{$i}rem {
    @include set-abs-height($i, "rem");
  }
}

@for $i from 1 through $loop-size-max-limit-percent {
  $val: $i * 5;
  .sz-h#{$val}p {
    @include set-abs-height($val, "%");
  }
}

.sz-h-full {
  @include set-abs-height(100, "%");
}

@for $i from 1 through $loop-pad-max-limit {
  .pad-#{$i} {
    padding: #{$i / 2.5}em !important;
  }
  .pad-l-#{$i} {
    padding-left: #{$i / 2.5}em !important;
  }
  .pad-r-#{$i} {
    padding-right: #{$i / 2.5}em !important;
  }
  .pad-t-#{$i} {
    padding-top: #{$i / 2.5}em !important;
  }
  .pad-b-#{$i} {
    padding-bottom: #{$i / 2.5}em !important;
  }
}
@for $i from 1 through $loop-pad-max-limit {
  .mrg-#{$i} {
    margin: #{$i / 2.5}em !important;
  }
  .mrg-l-#{$i} {
    margin-left: #{$i / 2.5}em !important;
  }
  .mrg-r-#{$i} {
    margin-right: #{$i / 2.5}em !important;
  }
  .mrg-t-#{$i} {
    margin-top: #{$i / 2.5}em !important;
  }
  .mrg-b-#{$i} {
    margin-bottom: #{$i / 2.5}em !important;
  }
}

$div-spc-factor: 3;
@for $i from 1 through $loop-pad-max-limit {
  *[role*="spc-r-#{$i}"] {
    display: block !important;
    height: #{$i / $div-spc-factor}em !important;
    min-height: #{$i / $div-spc-factor}em !important;
    max-height: #{$i / $div-spc-factor}em !important;
    background-color: transparent !important;
    @if $debug-boxes {
      border: 1px dotted $debug-box-color-border-2 !important;
      margin: 1px;
    } @else {
      border: none !important;
    }
  }
  *[role*="spc-c-#{$i}"] {
    display: block !important;
    width: #{$i / $div-spc-factor}em !important;
    min-width: #{$i / $div-spc-factor}em !important;
    max-width: #{$i / $div-spc-factor}em !important;
    background-color: transparent !important;
    @if $debug-boxes {
      border: 1px dotted $debug-box-color-border-2 !important;
      margin: 1px;
    } @else {
      border: none !important;
    }
  }
}

div[role="expander"] {
  margin: 0.2em;
  flex: auto !important;
  & > div {
    display: none;
  }
  & > input {
    display: none;
    height: 0em;
    &:checked ~ div {
      display: block;
    }
  }
  & > label {
    display: block;
    cursor: pointer;
    width: 100%;
    padding-bottom: 0.24em;
    background-color: $color-bg-alt;
  }
}

.ins-left {
  @include float-block(left, block);
  margin-right: $def-pad !important;
}
.ins-left-ext {
  @include float-block(left, block);
  @include set-abs-width(100, "%");
  margin-right: 0em !important;
}

.ins-right {
  @include float-block(right, block);
  margin-left: $def-pad !important;
}

.ins-right-ext {
  @include float-block(right, block);
  @include set-abs-width(100, "%");
  margin-left: 0em !important;
}

.aln-left {
  text-align: left !important;
}

.aln-center {
  text-align: center !important;
}

.aln-justify {
  text-align: justify !important;
}

.aln-right {
  text-align: right !important;
}

.brd,
.brd-out {
  border: $szx1 solid $color-border !important;
}

.brd-out {
  padding: ($def-pad / 3);
}

@for $i from 1 through 12 {
  .brd-round-#{$i} {
    border-radius: #{$i * 0.15}em !important;
  }
}

.ofl-y {
  overflow-y: auto !important;
}

.ofl-x {
  overflow-x: auto !important;
}

.ofl-xy {
  overflow: auto !important;
}
