@media (max-width: 684px) {
  body {
    font-size: $font-size-base * 0.85;
  }
  .rows,
  .cols,
  .rows-rev,
  .cols-rev {
    display: block;
  }
}

@media (max-width: 382px) {
  body {
    font-size: $font-size-base * 0.75;
  }
  .rows,
  .cols,
  .rows-rev,
  .cols-rev {
    display: block;
  }
}
