@mixin ul-default {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  background-color: $color-bg-menu;
  color: $color-fg-menu;
  border: 1px solid $color-menu-border;
  z-index: 1000;
}

@mixin sub-menu-area {
  border: 1px solid $color-menu-border;
  background-color: $color-bg-menu;
  color: $color-fg-menu;
}

@mixin li-hover {
  background-color: $color-fg-menu;
  color: $color-bg-menu;
  //box-shadow: 2px 2px 2px #000000;
}

@mixin flex-and-dir($dir) {
  position: absolute;
  display: flex !important;
  flex-direction: $dir !important;
  margin-top: 0.4em;
  @if($menu-shadow) {
    box-shadow: $menu-shadow-deep $menu-shadow-deep ($menu-shadow-deep * 2) $color-menu-shadow;
  }
}

$sub-symbol-left: "<"; //"∴"; //"«";
$sub-symbol-right: ">"; //"∵"; //"»";

@mixin sub-symbol-common {
  //font-size: 1.6rem;
  font-weight: 700;
  display: inline-block;
  z-index: 0;
}

$li-height: 2em;
$li-padding-top: 0.2em;
$delta-height: $li-height + $li-padding-top; //4em;
$half-padding: 1em;
//$third-padding: 1em;

div.mnu-cont {
  //margin: 0 auto;
}

ul.mnu {
  @include ul-default;

  li {
    cursor: pointer;
    flex-grow: 1;
    height: $li-height;
    //padding: $half-padding 0;
    padding-top: $li-padding-top;
    padding-left: $half-padding;
    padding-right: $half-padding;
    white-space: nowrap;
    //border: 1px solid $color-menu-border;

    & i:first-child {
      font-style: normal;
      letter-spacing: normal;
      &[data-dir="sub-left"]  {
        &:before {          
          content: $sub-symbol-left;
          margin: 0em 0.4em 0em -0.4em;
          @include sub-symbol-common;
        }
      }
      &[data-dir="sub-right"] {
        &:after {
          content: $sub-symbol-right;
          margin: 0em -0.4em 0em 0.4em;
          @include sub-symbol-common;
        }
      }
      &[data-dir="sub-above"] {
        &:after {
          content: $sub-symbol-right;
          transform: rotate(-90deg);
          margin: 0em -0.4em 0em 0.4em;
          @include sub-symbol-common;
        }
      }
      &[data-dir="stack"],
      &[data-dir="sub"] {
        &:after {
          content: $sub-symbol-right;
          transform: rotate(90deg);
          margin: 0em -0.4em 0em 0.4em;
          @include sub-symbol-common;
        }
      }
    }

    & > ul
    /*& ul:first-child*/ {
      @include ul-default;
      margin-top: 0px;
      margin-left: -$half-padding;
      display: none;
    }

    &:hover {
      @include li-hover;
      & > ul
      /*& > ul:first-child*/ {
        @include sub-menu-area;
        &[data-dir="stack"] {
          @include flex-and-dir(column);          
        }
        &[data-dir="right"] {
          @include flex-and-dir(column);
          transform: translate(100%, -#{$delta-height});
        }
        &[data-dir="left"] {
          @include flex-and-dir(column);
          transform: translate(-100.1%, -#{$delta-height});
        }
        &[data-dir="below"] {
          @include flex-and-dir(column);
        }
        &[data-dir="above"] {
          @include flex-and-dir(column);
          transform: translateY(calc(-100% - #{$delta-height}));
        }
        &[data-dir="inline"] {
          @include flex-and-dir(row);
        }
        &[data-dir="inline-right"] {
          @include flex-and-dir(row);
          flex-wrap: nowrap;
          margin-left: calc(100% - #{$half-padding});
          transform: translateY(-#{$delta-height});
        }
        &[data-dir="inline-left"] {
          @include flex-and-dir(row);
          flex-wrap: nowrap;
          transform: translate(-100.1%, -#{$delta-height});
        }
        &[data-dir="inline-full"] {
          @include flex-and-dir(row);
          //margin: 0 auto;
          width: calc(100% - 6em);
          margin-left: 2em;
          left: $half-padding;
        }
        &[data-dir="inline-center"] {
          @include flex-and-dir(row);
          transform: translateX(-30%);
        }
      }
    }
  }
}
