@mixin set-abs-width($n, $u) {
  width: #{$n}#{$u} !important;
  min-width: #{$n}#{$u} !important;
  max-width: #{$n}#{$u} !important;
}

@mixin set-abs-height($n, $u) {
  height: #{$n}#{$u} !important;
  min-height: #{$n}#{$u} !important;
  max-height: #{$n}#{$u} !important;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin float-block($float, $block) {
  float: $float !important;
  display: $block !important;
}