.rows {
  flex-direction: row;
}
.cols {
  flex-direction: column;
}
.rows-rev {
  flex-direction: row-reverse;
}
.cols-rev {
  flex-direction: column-reverse;
}
.rows,
.cols,
.rows-rev,
.cols-rev {
  display: flex;
  overflow: hidden;
  @if $debug-boxes {
    border: 1px dotted $debug-box-color-border-1 !important;
    padding: 1px;
  }
  & > div {
    flex: 1;
    overflow: hidden;
    @if $debug-boxes {
      border: 1px dotted $debug-box-color-border-4 !important;
      padding: 1px;
    }
    & > p,
    & > div,
    & > span {
      padding-left: $szx2;
      padding-right: $szx2;
      @if $debug-boxes {
        border: 1px dotted $debug-box-color-border-3 !important;
        //padding: 1px;
      }
    }
    @for $i from 1 through 6 {
      & > h#{$i} {
        padding-left: $szx2;
      }
    }
  }
}
