
@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-thin.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-thin.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-thinoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-thinoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-thinitalic.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-thinitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-extralight.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-extralight.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-extralightoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-extralightoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-extralightitalic.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-extralightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-light.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-light.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-lightoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-lightoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-lightitalic.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-lightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-regular.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-oblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-oblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-italic.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-medium.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-mediumoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-mediumoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-mediumitalic.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-mediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-semibold.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-semiboldoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-semiboldoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-semibolditalic.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-semibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-bold.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-boldoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-boldoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-bolditalic.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-bolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-extrabold.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-extrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-extraboldoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-extraboldoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-extrabolditalic.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-extrabolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-heavy.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-heavyoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-heavyoblique.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-Serif';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-etoile/woff2/iosevka-etoile-heavyitalic.woff2') format('woff2'), url('/fonts/iosevka-etoile/ttf/iosevka-etoile-heavyitalic.ttf') format('truetype');
}
