
@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-thin.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-thin.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-thinoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-thinoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-thinitalic.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-thinitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-extralight.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-extralight.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-extralightoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-extralightoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-extralightitalic.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-extralightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-light.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-light.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-lightoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-lightoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-lightitalic.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-lightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-regular.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-oblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-oblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-italic.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-medium.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-mediumoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-mediumoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-mediumitalic.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-mediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-semibold.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-semiboldoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-semiboldoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-semibolditalic.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-semibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-bold.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-boldoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-boldoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-bolditalic.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-bolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-extrabold.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-extrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-extraboldoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-extraboldoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-extrabolditalic.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-extrabolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-heavy.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-heavyoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-heavyoblique.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-heavyoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'X-SansSerif';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('/fonts/iosevka-aile/woff2/iosevka-aile-heavyitalic.woff2') format('woff2'), url('/fonts/iosevka-aile/ttf/iosevka-aile-heavyitalic.ttf') format('truetype');
}
