<h1>Lorem ipsum dolor sit amet!</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua.
</p>
<div class="rows">
  <div class="cols">
    <div role="expander">
      <label for="expander1">content</label>
      <input type="checkbox" id="expander1" />      
      <div>
        Lorem ipsum dolor sit <br />
        amet, consectetur <br />
        adipiscing elit, <br />
        sed do eiusmod tempor <br />
        incididunt ut labore et <br />
        dolore magna aliqua.
      </div>
    </div>
    <div role="expander">
      <label for="expander2">content</label>
      <input type="checkbox" id="expander2" />      
      <div>
        Lorem ipsum dolor sit <br />
        amet, consectetur <br />
        adipiscing elit, <br />
        sed do eiusmod tempor <br />
        incididunt ut labore et <br />
        dolore magna aliqua.
      </div>
    </div>
    <div role="expander">
      <label for="expander3">content</label>
      <input type="checkbox" id="expander3" />      
      <div>
        Lorem ipsum dolor sit <br />
        amet, consectetur <br />
        adipiscing elit, <br />
        sed do eiusmod tempor <br />
        incididunt ut labore et <br />
        dolore magna aliqua.
      </div>
    </div>
  </div>

  <div class="cols">
    <div role="expander">
      <label for="expander1a">content</label>
      <input type="checkbox" id="expander1a" />      
      <div>
        Lorem ipsum dolor sit <br />
        amet, consectetur <br />
        adipiscing elit, <br />
        sed do eiusmod tempor <br />
        incididunt ut labore et <br />
        dolore magna aliqua.
      </div>
    </div>
    <div role="expander">
      <label for="expander2b">content</label>
      <input type="checkbox" id="expander2b" />      
      <div>
        Lorem ipsum dolor sit <br />
        amet, consectetur <br />
        adipiscing elit, <br />
        sed do eiusmod tempor <br />
        incididunt ut labore et <br />
        dolore magna aliqua.
      </div>
    </div>
    <div role="expander">
      <label for="expander3c">content</label>
      <input type="checkbox" id="expander3c" />      
      <div>
        Lorem ipsum dolor sit <br />
        amet, consectetur <br />
        adipiscing elit, <br />
        sed do eiusmod tempor <br />
        incididunt ut labore et <br />
        dolore magna aliqua.
      </div>
    </div>
  </div>
</div>
<div class="rows">
  <div class="sz-w20p">node1</div>
  <i role="spc-c-2"></i>
  <div class="rows">
    <div><div>node2</div></div>
    <div class="rows">
      <div>node3</div>
      <div class="rows">
        <div class="cols">
          <div>node4a</div>
          <div>node4b</div>
          <div>node4c</div>
        </div>
        <div class="rows">
          <div>node5</div>
        </div>
        <div class="cols">
          <div>node6</div>
          <i role="spc-r-1"></i>
          <div>node7</div>
          <div>node8</div>
          <div>node9</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rows">
  <div class="mnu-cont">
    <ul class="mnu">
      <li>item</li>
      <li>
        <i data-dir="stack">submenu</i>
        <ul data-dir="stack">
          <li>item</li>
          <li>
            <i data-dir="sub-right">submenu</i>
            <ul data-dir="inline-right">
              <li>item</li>
              <li>
                <i data-dir="sub-left">submenu</i>
                <ul data-dir="left">
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                </ul>
              </li>
              <li>
                <i data-dir="sub">submenu</i>
                <ul data-dir="below">
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                </ul>
              </li>
              <li>
                <i data-dir="sub-above">submenu</i>
                <ul data-dir="above">
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <i data-dir="sub-right">submenu</i>
            <ul data-dir="right">
              <li>item</li>
              <li>
                <i data-dir="sub-left">submenu</i>
                <ul data-dir="left">
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                </ul>
              </li>
              <li>
                <i data-dir="sub">submenu</i>
                <ul data-dir="below">
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                </ul>
              </li>
              <li>
                <i data-dir="sub-above">submenu</i>
                <ul data-dir="above">
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                  <li>item</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <i data-dir="sub-left">submenu</i>
            <ul data-dir="left">
              <li>item</li>
              <li>item</li>
              <li>
                <i data-dir="sub-right">submenu</i>
                <ul data-dir="inline-right">
                  <li>item</li>
                  <li>
                    <i data-dir="sub-left">submenu</i>
                    <ul data-dir="left">
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                    </ul>
                  </li>
                  <li>
                    <i data-dir="sub-left">submenu</i>
                    <ul data-dir="inline-left">
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                    </ul>
                  </li>
                  <li>
                    <i data-dir="sub">submenu</i>
                    <ul data-dir="below">
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                    </ul>
                  </li>
                  <li>
                    <i data-dir="sub-above">submenu</i>
                    <ul data-dir="above">
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                      <li>item</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>item</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <i data-dir="sub">submenu</i>
        <ul data-dir="inline">
          <li>item</li>
          <li>item</li>
          <li>item</li>
          <li>item</li>
        </ul>
      </li>
      <li>
        <i data-dir="sub">submenu</i>
        <ul data-dir="inline-center">
          <li>item</li>
          <li>item</li>
          <li>item</li>
          <li>item</li>
        </ul>
      </li>
      <li>
        <i data-dir="sub">submenu</i>
        <ul data-dir="inline-full">
          <li>item</li>
          <li>item</li>
          <li>item</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="rows">
  <div>
    <div class="rows">
      <div class="sz-w20p">
        <h4>left</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="sz-w10p">
        <h4>right</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="sz-w40p">
        <div class="cols">
          <div class="sz-w70p">
            <h4>left</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="sz-w50p">
            <h4>right</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mnu-cont">
      <ul class="mnu">
        <li>item</li>
        <li>
          <i data-dir="stack">submenu</i>
          <ul data-dir="stack">
            <li>item</li>
            <li>
              <i data-dir="sub-right">submenu</i>
              <ul data-dir="inline-right">
                <li>item</li>
                <li>
                  <i data-dir="sub-left">submenu</i>
                  <ul data-dir="left">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                  </ul>
                </li>
                <li>
                  <i data-dir="sub">submenu</i>
                  <ul data-dir="below">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                  </ul>
                </li>
                <li>
                  <i data-dir="sub-above">submenu</i>
                  <ul data-dir="above">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <i data-dir="sub-right">submenu</i>
              <ul data-dir="right">
                <li>item</li>
                <li>
                  <i data-dir="sub-left">submenu</i>
                  <ul data-dir="left">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                  </ul>
                </li>
                <li>
                  <i data-dir="sub">submenu</i>
                  <ul data-dir="below">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                  </ul>
                </li>
                <li>
                  <i data-dir="sub-above">submenu</i>
                  <ul data-dir="above">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <i data-dir="sub-left">submenu</i>
              <ul data-dir="left">
                <li>item</li>
                <li>item</li>
                <li>
                  <i data-dir="sub-right">submenu</i>
                  <ul data-dir="inline-right">
                    <li>item</li>
                    <li>
                      <i data-dir="sub-left">submenu</i>
                      <ul data-dir="left">
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                      </ul>
                    </li>
                    <li>
                      <i data-dir="sub-left">submenu</i>
                      <ul data-dir="inline-left">
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                      </ul>
                    </li>
                    <li>
                      <i data-dir="sub">submenu</i>
                      <ul data-dir="below">
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                      </ul>
                    </li>
                    <li>
                      <i data-dir="sub-above">submenu</i>
                      <ul data-dir="above">
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>item</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <i data-dir="sub">submenu</i>
          <ul data-dir="inline">
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
          </ul>
        </li>
        <li>
          <i data-dir="sub">submenu</i>
          <ul data-dir="inline-center">
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
          </ul>
        </li>
        <li>
          <i data-dir="sub">submenu</i>
          <ul data-dir="inline-full">
            <li>item</li>
            <li>item</li>
            <li>item</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div class="mnu-cont">
      <ul class="mnu">
        <li>item</li>
        <li>
          <i data-dir="stack">submenu</i>
          <ul data-dir="stack">
            <li>item</li>
            <li>
              <i data-dir="sub-right">submenu</i>
              <ul data-dir="inline-right">
                <li>item</li>
                <li>
                  <i data-dir="sub-left">submenu</i>
                  <ul data-dir="left">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                  </ul>
                </li>
                <li>
                  <i data-dir="sub">submenu</i>
                  <ul data-dir="below">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                  </ul>
                </li>
                <li>
                  <i data-dir="sub-above">submenu</i>
                  <ul data-dir="above">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <i data-dir="sub-right">submenu</i>
              <ul data-dir="right">
                <li>item</li>
                <li>
                  <i data-dir="sub-left">submenu</i>
                  <ul data-dir="left">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                  </ul>
                </li>
                <li>
                  <i data-dir="sub">submenu</i>
                  <ul data-dir="below">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                  </ul>
                </li>
                <li>
                  <i data-dir="sub-above">submenu</i>
                  <ul data-dir="above">
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                    <li>item</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <i data-dir="sub-left">submenu</i>
              <ul data-dir="left">
                <li>item</li>
                <li>item</li>
                <li>
                  <i data-dir="sub-right">submenu</i>
                  <ul data-dir="inline-right">
                    <li>item</li>
                    <li>
                      <i data-dir="sub-left">submenu</i>
                      <ul data-dir="left">
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                      </ul>
                    </li>
                    <li>
                      <i data-dir="sub-left">submenu</i>
                      <ul data-dir="inline-left">
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                      </ul>
                    </li>
                    <li>
                      <i data-dir="sub">submenu</i>
                      <ul data-dir="below">
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                      </ul>
                    </li>
                    <li>
                      <i data-dir="sub-above">submenu</i>
                      <ul data-dir="above">
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>item</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <i data-dir="sub">submenu</i>
          <ul data-dir="inline">
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
          </ul>
        </li>
        <li>
          <i data-dir="sub">submenu</i>
          <ul data-dir="inline-center">
            <li>item</li>
            <li>item</li>
            <li>item</li>
            <li>item</li>
          </ul>
        </li>
        <li>
          <i data-dir="sub">submenu</i>
          <ul data-dir="inline-full">
            <li>item</li>
            <li>item</li>
            <li>item</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="rows">
  <div>
    <pre>
          Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit, 
        </pre
    >
    <code> Lorem ipsum dolor sit amet, consectetur adipiscing elit, </code>
    <pre class="linenumbers">          
          <code>Lorem ipsum dolor sit amet, </code>
          <code>consectetur adipiscing elit, </code>
          <code>consectetur adipiscing elit,</code>
          <code>consectetur adipiscing elit,</code>
          <code>consectetur adipiscing elit,</code>
          <code>consectetur adipiscing elit,</code>
          <code>consectetur adipiscing elit,</code>
          <code>consectetur adipiscing elit,</code>
          <code>consectetur adipiscing elit,</code>
          <code>consectetur adipiscing elit,</code>
          <code>consectetur adipiscing elit,</code>
      </pre>
    <div class="sz-w2em sz-h2em brd brd-round-2"></div>
  </div>
  <div>
    <img src="/images/image-01.png" />
  </div>
</div>
<div class="rows">
  <div>
    <form>
      <fieldset>
        <legend>legend</legend>
        <button>button</button>
        <span>
          <label>label</label>
          <input type="text" />
        </span>
        <span>
          <label>label</label>
          <textarea>aaaa</textarea>
        </span>
        <span>
          <label>label</label>
          <input type="checkbox" />
        </span>
        <span>
          <label>label</label>
          <input type="radio" />
        </span>
        <div>
          <label>label</label>
          <textarea>aaaa</textarea>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="rows">
  <div>
    <img src="/images/image-01.png" />
    <form>
      <fieldset>
        <legend>legend</legend>
        <button>button</button>
        <span>
          <label>label</label>
          <input type="text" />
        </span>
        <span>
          <label>label</label>
          <textarea>aaaa</textarea>
        </span>
        <span>
          <label>label</label>
          <input type="checkbox" />
        </span>
        <span>
          <label>label</label>
          <input type="radio" />
        </span>
        <div>
          <label>label</label>
          <textarea>aaaa</textarea>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="sz-h40em ofl-y">
    <p class="aln-justify">
      <img
        class="sz-w10em ins-left brd-out brd-round-2"
        src="/images/image-01.png"
      />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Eu augue ut lectus
      arcu. Mauris rhoncus aenean vel elit. Augue mauris augue neque gravida in
      fermentum et sollicitudin.
      <img class="sz-w10em ins-right-ext" src="/images/image-03.png" />
      At augue eget arcu dictum. Aenean sed adipiscing diam donec adipiscing
      tristique risus nec feugiat. Morbi tincidunt
      <img class="sz-w6em ins-right" src="/images/image-01.png" />
      augue interdum velit euismod in pellentesque. Nisl suscipit adipiscing
      bibendum est ultricies integer quis auctor. Amet tellus cras adipiscing
      enim eu turpis. Turpis egestas sed tempus urna et pharetra.
    </p>
    <table class="brd">
      <thead>
        <tr>
          <th>qui</th>
          <th>quo</th>
          <th>qua</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>aaaa</td>
          <td>aaaa</td>
          <td>aaaa</td>
        </tr>
        <tr>
          <td>aaaa</td>
          <td>aaaa</td>
          <td>aaaa</td>
        </tr>
        <tr>
          <td>aaaa</td>
          <td>aaaa</td>
          <td>aaaa</td>
        </tr>
      </tbody>
    </table>
    <form>
      <fieldset class="brd-round-2">
        <legend>legend2</legend>
        <button>button</button>
        <span>
          <label>label</label>
          <input type="text" />
        </span>
        <span>
          <label>label</label>
          <input type="checkbox" />
        </span>
        <span>
          <label>label</label>
          <input type="radio" />
        </span>
      </fieldset>
    </form>
  </div>
</div>
<div role="spc-r-1"></div>
<div class="rows">
  <div>
    <div class="rows">
      <div>
        <img src="/images/image-01.png" />
      </div>
      <div>
        <div class="rows-rev">
          <div>
            <img src="/images/image-01.png" />
          </div>
          <div>
            <img src="/images/image-01.png" />
          </div>
          <div>
            <div class="test">
              <h4>right</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="cols">
      <div class="pad-1">
        <h4 class="aln-justify brd-out pad-2 brd-round-2">top</h4>
        <p class="aln-justify brd-out pad-2 brd-round-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu augue
          ut lectus arcu. Mauris rhoncus aenean vel elit. Augue mauris augue
          neque gravida in fermentum et sollicitudin. At augue eget arcu dictum.
          <a href="#">anchor</a> Aenean sed adipiscing diam donec adipiscing
          tristique risus nec feugiat. Morbi tincidunt augue interdum velit
          euismod in pellentesque. Nisl suscipit adipiscing bibendum est
          ultricies integer quis auctor.
          <a class="supnote" href="#">note</a>Amet tellus cras adipiscing enim
          eu turpis. Turpis egestas sed tempus urna et pharetra
          <a class="note" href="#">anchor</a> .
        </p>
      </div>
      <div>
        <h4>middle</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu augue
          ut lectus arcu. Mauris rhoncus aenean vel elit. Augue mauris augue
          neque gravida in fermentum et sollicitudin. At augue eget arcu dictum.
          Aenean sed adipiscing diam donec adipiscing tristique risus nec
          feugiat. Morbi tincidunt augue interdum velit euismod in pellentesque.
          Nisl suscipit adipiscing bibendum est ultricies integer quis auctor.
          Amet tellus cras adipiscing enim eu turpis. Turpis egestas sed tempus
          urna et pharetra.
        </p>
      </div>
      <div>
        <ul>
          <li>aaaaaaaaa</li>
          <li>aaaaaaaaa</li>
          <li>aaaaaaaaa</li>
          <li>aaaaaaaaa</li>
          <li>aaaaaaaaa</li>
        </ul>
      </div>
      <div>
        <dl>
          <dt>title</dt>
          <dd>data</dd>
          <dd>data</dd>
          <dd>data</dd>
          <dd>data</dd>
        </dl>
      </div>
      <div>
        <div class="rows">
          <div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <blockquote>aaaaaa, bbbb, cccc</blockquote>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div>
            <h4>left</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div>
            <h4>right</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
